---
import linkedin from "../assets/linkedin.svg";
import github from "../assets/github.svg";
---

<div id="contact" class="flex flex-col gap-5 p-8">
    <h2 class="text-4xl font-bold text-ctp-mauve">Contact Me</h2>
    <div class="text-xl">
        If you want to get in touch with me to talk about work opportunities,
        give feedback on my projects or just have a chat, feel free to reach out
        to me using one of these links:
    </div>
    <div class="flex gap-5">
        <a href="https://www.linkedin.com/in/jeremiah-plumstead/">
            <img src={linkedin.src} alt="LinkedIn" height={50} width={50} />
        </a>
        <a href="https://github.com/jdplumst">
            <img src={github.src} alt="GitHub" height={50} width={50} />
        </a>
    </div>
</div>
