<div class="container">
	<header class="header">
		<div>
			<h1>Jeremiah Plumstead</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a href="/"> Home </a>
				</li>
				<li>
					<a href="#experience"> Experience </a>
				</li>
				<li>
					<a href="#projects"> Projects </a>
				</li>
				<li>
					<a href="#education"> Education </a>
				</li>
				<li>
					<a href="#contact"> Contact </a>
				</li>
			</ul>
		</nav>
	</header>
</div>

<style>
	.container {
		padding: 16px 16px 16px 16px;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
	}

	li {
		display: inline;
		font-weight: 600;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 0.75rem;
		}

		li {
			font-size: 0.6rem;
		}
	}
</style>
