<div id="home" class="flex justify-center p-4">
    <div class="border-violet-600 rounded-md border-4 border-solid p-2">
        <!-- TODO: Add description here  -->
        Add description here
    </div>
</div>
