<div id="home" class="container">
    <div class="description">
        <!-- TODO: Add description here  -->
        Add description here
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        padding: 16px;
    }

    .description {
        border-color: blueviolet;
        border-radius: 5px;
        border-width: 5px;
        border-style: solid;
        padding: 10px;
    }
</style>
