<div id="home" class="flex flex-col justify-center p-4">
    <h2 class="text-2xl font-bold pb-2">About Me</h2>
    <div
        class="border-ctp-mauve border-4 border-solid p-2 font-semibold text-lg flex flex-col gap-5"
    >
        <div>
            I'm a software developer and analyst who loves to build applications
            and perform data analysis. I'm passionate about technology and how
            it can be used to build things and solve problems. I mainly build
            software using TypeScript, Go and Python. My interests are building
            full-stack web applications, data analysis, machine learning, and
            test automation.
        </div>
        <div>
            I have work experience in softaware development and quality
            assurance. I'm always looking for new challenges and opportunities
            to learn and grow. I'm currently looking for opportunities to work
            in tech so please <a href="#contact" class="font-bold text-ctp-blue"
                >contact me</a
            > if you are interested!
        </div>
        <div>
            This site uses the <a
                href="https://catppuccin.com/"
                class="font-bold text-ctp-blue">Catppuccin Mocha</a
            > colour scheme.
        </div>
    </div>
</div>
