<div id="home" class="flex justify-center p-4">
    <div
        class="border-[#cba6f7] rounded-md border-4 border-solid p-2 font-semibold text-lg flex flex-col gap-5"
    >
        <div>
            I'm a software developer and analyst who loves to build things. I'm
            passionate about technology and how it can be used to build things
            solve problems. I mainly build things using TypeScript, Go and
            Python. My interests are building full-stack web applications, data
            analysis, machine learning, and test automation.
        </div>
        <div>
            I'm always looking for new challenges and opportunities to learn and
            grow. I'm currently looking for opportunities to work in tech so
            please contact me if you are interested!
        </div>
    </div>
</div>
