<div id="skills" class="flex flex-col p-8">
  <h2 class="text-4xl font-bold pb-4">Skills</h2>
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-y-5"
  >
    <div>
      <h3 class="text-2xl font-semibold">Frontend</h3>
      <ul class="list-disc pl-4 text-lg">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript / TypeScript</li>
        <li>React</li>
        <li>Next.js</li>
        <li>TailwindCSS</li>
        <li>Astro</li>
      </ul>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Backend</h3>
      <ul class="list-disc pl-4 text-lg">
        <li>Node.js</li>
        <li>Express</li>
        <li>Go</li>
        <li>C#</li>
        <li>ASP.NET</li>
        <li>SQL</li>
        <li>MongoDB</li>
        <li>REST</li>
        <li>GraphQL</li>
      </ul>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Data</h3>
      <ul class="list-disc pl-4 text-lg">
        <li>Python</li>
        <li>PyTorch</li>
        <li>PySpark</li>
        <li>SQL</li>
        <li>MongoDB</li>
        <li>NumPy</li>
        <li>Matplotlib</li>
      </ul>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Testing</h3>
      <ul class="list-disc pl-4 text-lg">
        <li>Playwright</li>
        <li>Cypress</li>
        <li>Selenium</li>
        <li>Postman / Insomnia</li>
        <li>TestRail</li>
        <li>JavaScript / TypeScript</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Others</h3>
      <ul class="list-disc pl-4 text-lg">
        <li>Git / GitHub</li>
        <li>CI/CD</li>
        <li>MacOS</li>
        <li>Linux</li>
        <li>Agile</li>
        <li>Scrum</li>
      </ul>
    </div>
  </div>
</div>;
